@import url(vendor/normalize.css);

* {
  border: 1px solid red;
}

.page {
  font-family: Arial;
}

.header {
  background: #47637A;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 160px;
  width: 100%;
  aspect-ratio: 240/44;
  background-image: url(images/header__logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__nav {
  display: flex;
  gap: 50px;
}

.header__nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.header__languages {
  display: flex;
}

.header__language {
  background-color: #fff;
  border: none;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
}

.header__language_switch_en {
  border-radius: 15px 0 0 15px;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25);
}

.header__language_switch_ch {
  border-radius: 0 15px 15px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner {
  background-image: url(images/banner-fon.jpg);
  background-size: cover;
  padding: 200px 0 200px 0;
}

.banner__title {
  max-width: 1280px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
}